<?xml version="1.0"?>
<phpunit bootstrap="tests/bootstrap.php" colors="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">app</directory>
            <file>laqirapay.php</file>
        </include>
    </coverage>
    <testsuites>
        <testsuite name="Plugin Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
